
.map-container {
  height: 400px;

  .map {
    height: 100%;
    width: 100%;
  }
}

.contact-information {
  background: pink; /* this whole element needs to be
  restyled/changed / remove border / reposition */
  border: 1px solid black;
  border-radius: 15px;
  height: fit-content;
  margin-top: 40px;
  padding: 30px;

  h6 {
    margin: 20px 0 10px;
  }

  .address {
    margin-bottom: 10px;
  }

  .contact {
    p {
      color: $grey;

      span {
        color: $light-grey;
      }
    }
  }
}
