
$fira: 'Fira Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$red:        #c52227;
$white:      #ffffff;
$blue:       rgb(32,47,82);
$dark-blue:  rgb(21, 33, 61);
$blue-op:    rgba(32,47,82,0.3);
$grey:       rgb(51, 51, 51);
$light-grey: rgb(117,120,123);

$shadow-dark: rgba(0, 0, 0, 0.1) 0px 8px 15px;

$navHeight: 50px;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin transition($property: all, $duration: 0.2s) {
  transition: $property $duration ease-in-out;
}
